<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <header>
        <nav class="nav">
            <img src="/images/logo.png" alt="">
        </nav>
    </header>


    <div class="login-page">

        <form action="/admin/login" method="post" id="registerForm">
            <h4>Admin Login</h4>
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button class="btn" type="submit">login</button>
        </form>
    </div>
</body>
    
</html>